
@use '@angular/material' as mat;

:root {
  --primary-blue: #66e9ea;
  --secondary-blue: #3883a5;
  --terciary-blue: #1a3f52;
  --accent: #d6e2ac;
  --accent-2: #98664c;
  --darker: #24222d;
}

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
